<launch>

  <!-- Camera ID -->
  <arg name="camera_id" value="A00367A01433047A" />

  <!-- Detection node -->
  <include file="$(find detection)/launch/detector_serial.launch">
    <arg name="camera_id" value="$(arg camera_id)" />
  </include>

  <!-- Display detection results -->
  <!--node pkg="opt_utils" type="roi_viewer" name="HaarDispAdaViewer_$(arg camera_id)" >
    <param name="mode" type="string" value="roi_display"/> 
    <param name="label" type="int" value="1" />
    <param name="show_confidence" type="bool" value="true" />
      <remap from ="input_image" to="HaarDispAdaColorImage"/>
      <remap from ="input_detections" to="/detector/detections"/>  
  </node-->

</launch>
