<launch>
  <!-- Start the Kinect -->
  <include file="$(find openni_launch)/launch/openni.launch"/> 

  <!-- Launch PCL people detection node -->
    <node pkg="detection" type="ground_based_people_detector" name="ground_based_people_detector" >
    <param name="HogSvmThreshold" value="-1.5"/>
    <param name="classifier_file" value="$(find detection)/data/HogSvmPCL.yaml"/>
    <param name="minimum_person_height" value="1.3"/>
    <param name="maximum_person_height" value="2.3"/>
    <param name="sampling_factor" value="4"/>
    <param name="pointcloud_topic" value="/camera/depth_registered/points"/>
    <param name="rate" value="60.0"/>  
    <param name="use_rgb" value="false"/>
  </node>

  <!-- display the rois -->
  <node pkg="opt_utils" type="roi_viewer" name="PeopleDetectionViewer" >
    <param name="mode" type="string" value="roi_display"/> 
    <param name="label" type="int" value="1" />
    <param name="show_confidence" type="bool" value="true" />
    <remap from ="input_image" to="/camera/rgb/image_color"/>
	<remap from ="input_rois" to="/ground_based_people_detector/GroundBasedPeopleDetectorOutputRois"/>  
  </node>

</launch>
