<?xml version="1.0"?>
<launch>
	
  <arg name="sensor_name"     default="kinect2_head" />
  
  <!-- Republish sensor point cloud after applying refinement -->
  <node pkg="opt_utils" type="cloud_refinement" name="cloud_refinement_$(arg sensor_name)" output="screen">
    <remap from="~input"        		to="/$(arg sensor_name)/depth_ir/points" />
    <remap from="~output"       		to="/$(arg sensor_name)/depth_ir/points_refined" />
  </node>

</launch>

