<launch>
  <node pkg="opt_utils" type="ros2udp_converter" name="ros2udp_converter" output="screen">
<!--    <remap from ="~input_topic" to="/tracker/tracks_smoothed"/>  -->
    <remap from ="~input_topic" to="/tracker/tracks_smoothed"/>
    <remap from ="~alive_ids_topic" to="/tracker/alive_ids"/>  
    <rosparam command="load" file="$(find opt_utils)/conf/json_udp.yaml" /> 
  </node>

<node pkg="opt_utils" type="ros2udp_converter_object" name="ros2udp_converter_object" output="screen">
<!--    <remap from ="~input_topic" to="/tracker/tracks_smoothed"/>  -->
  <remap from ="~input_topic" to="/tracker/object_tracks_smoothed"/>
  <remap from ="~alive_ids_topic" to="/tracker/alive_ids"/>
  <rosparam command="load" file="$(find opt_utils)/conf/json_udp.yaml" />
</node>

</launch>

