# Camera network parameters
# Supported sensor types: 
#  * Kinect 1st version (type: kinect1)
#  * Kinect 2nd version (type: kinect2)
#  * SwissRanger 4500 (type: sr4500)
#  * Custom stereo pair composed of PointGrey (e.g. BlackFly) cameras (type: stereo_pg)
#
#network:
#  - pc: "Cassiopea"
#    sensors:
#      - type: kinect1
#        id: "Kinect_v1_0"
#      - type: kinect2
#        id: "Kinect_v2"
#  - pc: "pc_2"
#    sensors:
#      - type: kinect1
#        id: "Kinect_v1_1"
#        serial: "A00364820345039A"
#      - type: sr4500
#        id: "SwissRanger0"
#        ip: "192.168.1.31"
#      - type: stereo_pg
#        id: "blackfly_stereo"
#        serial_left: "13310958"
#        serial_right: "13310959"

network:
  - pc: "Cassiopea"
    sensors:
      - type: kinect1
        id: "kinect_right"
  - pc: "Phoenix"
    sensors:
      - type: kinect1
        id: "kinect_left"

# Checkerboard parameters
checkerboard:
  rows: 6
  cols: 5
  cell_width: 0.12
  cell_height: 0.12
  
