<?xml version="1.0"?>
<launch> 

 <!-- Launch opt_gui node with topics -->

  <node pkg="opt_gui" type="opt_gui" name="opt_gui" output="screen" respawn="true">
        
    <rosparam command="load"                        file="$(find opt_calibration)/conf/camera_network.yaml" /> 
    
  </node> 

</launch> 
