<launch>

  <!-- People detection -->
  <include file="$(find detection)/launch/detector_depth.launch"/>

  <!-- People tracking -->
  <include file="$(find tracking)/launch/tracker.launch"/>

  <!-- UDP messaging -->
  <include file="$(find opt_utils)/launch/ros2udp_converter.launch"/>

  <!-- Visualization -->
  <include file="$(find opt_utils)/launch/visualization.launch"/>

</launch>
