<launch>

  <!-- People detection -->
  <include file="$(find detection)/launch/detector_depth.launch"/>

  <!-- People tracking -->
  <include file="$(find tracking)/launch/tracker.launch"/>

  <!-- ROS visualizer -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find tracking)/conf/tracking.rviz" />

</launch>
