<launch>
  
  <arg name="input_topic" value="/detector/detections" />
    
  <!-- Launch the tracking node -->
  <node pkg="tracking" type="tracker" name="tracker_node" output="screen">
    <remap from="~input" to="$(arg input_topic)" />
    <rosparam command="load" file="$(find tracking)/conf/tracker.yaml" /> 
    <rosparam command="load" file="$(find detection)/conf/haar_disp_ada_detector.yaml" /> 
  </node>

  <!-- Re-publishing at fixed rate / smoothing node -->
  <node pkg="tracking" type="tracker_filter" name="tracker_filter_node" output="screen">
    <remap from="~input" to="/tracker/tracks" />
    <remap from="~output" to="/tracker/tracks_smoothed" />
    <rosparam command="load" file="$(find tracking)/conf/tracker_filter.yaml" /> 
  </node>

</launch>
