<launch>

  <!-- Load calibration results -->
  <include file="$(find opt_calibration)/launch/opt_calibration_results.launch"/>

  <!-- People and object tracking -->
  <include file="$(find tracking)/launch/tracker_network.launch"/>

  <!-- opt_gui -->
  <node pkg="opt_gui" type="opt_gui" name="opt_gui" output="screen">
    <rosparam command="load"                        file="$(find opt_calibration)/conf/camera_network.yaml" /> 
  </node>

  <!-- UDP messaging -->
  <include file="$(find opt_utils)/launch/ros2udp_converter.launch"/>

  <!-- Visualization -->
  <include file="$(find opt_utils)/launch/multicamera_visualization.launch"/>

</launch>
