<!-- -*- mode: XML -*- -->

<launch>
  <arg name="device_ip" default="192.168.1.33" />

  <node pkg="swissranger_camera" type="swissranger_camera" name="swissranger"
	output="screen" respawn="false">
    <param name="auto_exposure" value="1" />
    <!--param name="integration_time" value="40" /-->
    <param name="ether_addr" value="$(arg device_ip)" />
  </node>
  
  <!-- ROS visualizer -->
  <!--node name="rviz" pkg="rviz" type="rviz" args="-d $(find swissranger_camera)/cfg/swissranger.rviz" /-->  

</launch>
