<launch>
  <!-- Determine serials using rosrun pointgrey_camera_driver list_cameras. -->
  <arg name="camera_serial_left" default="13310958" />
  <arg name="camera_serial_right" default="13310959" />
  <arg name="stereo_name" default="blackfly_stereo" />  

  <include file="$(find opt_calibration)/launch/stereo_pg.launch">
    <arg name="stereo_name" value="$(arg stereo_name)" />
    <arg name="camera_serial_left" value="$(arg camera_serial_left)" />
    <arg name="camera_serial_right" value="$(arg camera_serial_right)" />
  </include>

</launch>
