<launch>

  <!-- Sensor parameters -->
  <arg name="camera_serial_left" default="13310958" />
  <arg name="camera_serial_right" default="13310959" />
  <arg name="conf_file_left"  default="$(find opt_calibration)/conf/pg_default.yaml" />
  <arg name="conf_file_right" default="$(find opt_calibration)/conf/pg_default.yaml" />
  <arg name="stereo_name" default="blackfly_stereo" />

  <include file="$(find opt_calibration)/launch/stereo_pg.launch">
    <arg name="stereo_name" value="$(arg stereo_name)" />
    <arg name="camera_serial_left" value="$(arg camera_serial_left)" />
    <arg name="camera_serial_right" value="$(arg camera_serial_right)" />
    <arg name="conf_file_left"      value="$(arg conf_file_left)" />
    <arg name="conf_file_right"     value="$(arg conf_file_right)" />
  </include>

</launch>
